@import '../base.scss';

.game {
  width: 100vw;
  min-height: 80vh;
  background: var(--secondary-bg);
  padding: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
