.scan {
  text-align: center;
  height: calc(100vh - 42px);
  background: url(../resources/id-badge.svg) center no-repeat;
  background-size: 30%;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 6rem;
  padding: 12rem;
  box-sizing: border-box;
}
